.parallax-title-container {
  position: relative;
  overflow: hidden;
  height: 550px;
}

.parallax-container {
  height: 550px;
}

.my_own_class {
	font-family: "devicons"
}

.my_own_class : before {
	content : \e60a;
}

.card-title {
	padding-left : 35%;
}

.devicons {
	resize: 200px;
}

h2 {
	font-family: 'Pacifico', cursive;
	color : white;
	text-shadow: 2px 2px #ff0066;
}

p, footer {
	font-size: 15pt;
	font-family: 'Roboto Condensed', sans-serif;
}

nav, footer {
  	background-color: blue-grey darken-4;
	font-family: 'Roboto Condensed', sans-serif;
	color : white;
	opacity: 0.75;
}

ul, #footer-nav, li {
    display:inline;
    margin: 0px 20px;
}

